[Unit]
Description=Scheduler domain. Domain logic for system crontab management
Requires=docker.service 
After=network.target docker.service 

[Service]
Environment="PATH=/opt/aero/openvair/venv/bin/:/usr/sbin/:/usr/bin/"
Environment="PYTHONPATH=:/opt/aero/openvair/"
Environment=PYTHONUNBUFFERED=1


WorkingDirectory=/opt/aero/openvair
ExecStart=/opt/aero/openvair/venv/bin/python3 -m openvair.modules.scheduler.domain.manager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target